# Database
DATABASE_URL=mysql+pymysql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>

# Security
SECRET_KEY=<YOUR_SECRET_KEY>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=<ACCESS_TOKEN_EXPIRE_MINUTES>

# Environment
APP_ENV=development

# AI Server
AI_SERVER_URL=http://localhost:18081/v1/infer
AI_SERVER_API_KEY=
AI_SERVER_TIMEOUT_S=60
