@import "tailwindcss";

@theme inline {
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);

  --color-snap-bg: #0c0e11;
  --color-snap-panel: #05070a;
  --color-snap-cyan: #81ecff;
  --color-snap-cyan-2: #00d4ec;
  --color-snap-cyan-3: #00e3fd;
  --color-snap-white: #f9f9fd;
  --color-snap-muted: #aaabaf;
  --color-snap-input: #111417;
  --color-snap-social: #23262a;
  --color-snap-border: #46484b;
  --color-snap-btn-text: #003840;
  --color-snap-purple: #ac89ff;
}

body {
  background: #0c0e11;
  color: #f9f9fd;
}
